body{
    /* background: white; */
    background-image: url(../Media/App_Development.png);
    background-size: cover;
}

.container{
    width: 50%;
    height: 450px;
    margin: 100px auto;
    border-radius: 1.5rem;
    border: 20px dotted red;
    font-size: 110%;
    background-color: rgba(0,0,0,.25);
    background-image: url(../Media/App_Development.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-origin: border-box;
    background-origin: padding-box; */
    background-origin: content-box;
}

.container h1,p{
    margin: 1rem;
    float: left;
    text-shadow: 2px 2px 2px #000;
}