.box1, .box2{
    border: 2px solid gold;
}
/* .container p:first-child{
    color: aquamarine;
} */

/* .container p:last-child{
    color: aquamarine;
} */

/* .container p:nth-child(1){
    color: aquamarine;
} */

/* .container p:nth-child(even){
    color: aquamarine;
} */

/* .container p:nth-child(odd){
    color: aquamarine;
} */

/* .container p:nth-child(2n){
    color: aquamarine;
} */

/* .container p:nth-child(2n+1){
    color: aquamarine;
} */

/* .container p:nth-last-child(2n){
    color: aquamarine;
} */

/* .container p:nth-last-child(2n+1){
    color: aquamarine;
} */

/* .container p:first-of-type{
    color: aquamarine;
} */

/* .container p:last-of-type{
    color: aquamarine;
} */

/* .container p:nth-of-type(1){
    color: aquamarine;
} */

/* .container p:nth-last-of-type(1){
    color: aquamarine;
} */

/* .container :only-of-type{
    color: aquamarine;
} */

/* .container :only-child{
    color: aquamarine;
} */

/* .container :empty{
    color: aquamarine;
} */
.box1 :not(p){
    color: aquamarine;
}